.svg-container {
}
svg {
  height: 100%;
  display:inline-block;
  width: 100%;
  position: absolute;
  top:1.25rem;
  left:1rem;
  height: 8rem;
  padding:1rem;
}
.avg {
  clear: both;
  margin-top: 8rem;
}
