table {
  align-items: center;
  align-content: center;
  vertical-align: middle;
  text-align: center;
}
thead, th {
  text-align: center;
}
td {
  height:8.5rem;
  padding-top:63.63%; 
  position: relative;
  margin: 0 50px;
}